<h1> <%=@article.title %> </h1>
<p> <%= @article.text %></p>

<hr>
<h4>Комментарии(<%= @article.comments.size %>)</h4>

<% @article.comments.each do |comment| %>
  <p class="text-muted">
  <%= comment.author %> <%= comment.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
  </p>
  <p><%= comment.body %></p>
<% end %>

<% if user_signed_in? %>

  <%= form_for([@article, @article.comments.build]) do |form| %>
  <div class="mb-3">
    <%= form.text_area :body, :class => 'form-control', :placeholder => 'Ваш комментарий' %>
  </div>
  <%= form.submit 'Добавить' %>
  <% end %>
 <% else %>
  <p>Авторизируйтесь, чтобы оставлять комментарии</p>

<% end %>